body{
	text-align: center;
	background-color: pink;
	font-family: 'Raleway', sans-serif;
}

#titleChunk{
	display: block;
	position: fixed;
	width: 100%;
	float: left;
	text-align: center;
	background-color: pink;
	
}

#buffer{
	background-color: pink;
	height: 300px;
}

.coverArt{
	width: 400px;
	height: 200px;
}

h2{
	font-family: 'Shrikhand', cursive;
}

h1{
	font-family: 'Shrikhand', cursive;
	font-size: 2.4em;
}


